  .button {
    width: 25%;
    margin: 10px auto;
    padding: 0 auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px 3px rgba(100, 100, 100, 0.4);
    position: relative;
  }

#body {
    margin: 0;
    position: relative;
    padding: 0 auto;
  }

#up {
    margin: 0;
    position: relative;
    padding: 0 auto;
    float: left;
  }

#down {
    margin: 0;
    position: relative;
    padding: auto auto;
    float: left;
  }

html
{
    background: url(../Website/source/images/background.png) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#input_boxes {
    font-family: Arial, Helvetica, sans-serif;
}

#input_type {
    padding-bottom: 20; 
}

.input_box {
    padding: 5 5 5 5;
}

#title {
    padding-bottom: 25;
}

#next_button {
    padding-left: 250
}


.innercontent{
    position: relative;
    margin: 0 auto;
    width: 80%;
    background-color: black;
}

#outer{
    width: 100%;
}

#inner{
    width: 80%;
    margin: 0 auto;
}

#buttons{
    width: 30%:;
}