body
{
	background: url(../img/background.png) no-repeat center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	color:#626262;
	font-size: 16px;
	font-family:"Century Gothic", "Arial Rounded MT Bold";
}


h1
{
	font-size: 20px;
	font-weight:bold;	
}

#outer{
    width: 100%;
}

.inner{
    width: 70%;
    margin: 0 auto;
}

#title
{
	width: 30%;
	min-width: 	275px;
	padding-top: 2%;
}

.innercontent{
    width: 100%;
	height: auto;
}

#content
{
	width: 50%;
	min-width: 440;
	padding-top: 5%;
}

.buttons
{
    width: 44%;

    margin-left: 5%;
    margin-top: 5%;	
	display:inline-block;


    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px 3px rgba(100, 100, 100, 0.4);

}

	

#input_boxes {
    font-family: Arial, Helvetica, sans-serif;
}

#input_type {
    padding-bottom: 20; 
}

.input_box {
    padding: 5 5 5 5;
}

#title {
    padding-bottom: 25;
}

#next_button {
    padding-left: 250;
}

.formFormat{
	width: 60%;	
}

.feed
{
	background-color: #fff59f;
	margin-bottom: 2%;
	padding-top: 3%;
	padding-bottom: 1%;
	padding-left: 4%;
	padding-right: 1%;
}